.zheng_detail{
color:#E5E5E5;
font-size: .8rem;
.top{
    >img{
        width: 100%;
    }
}
.content{
    padding:0 1.2rem;
    box-sizing: border-box;
    text-align: justify;
    >p{
        line-height: 1.066667rem;
    }
    }

    
}